services:
    jdownloader:
        image: jlesage/jdownloader-2:latest
        container_name: jdownloader
        ports:
            - "5800:5800"
        environment:
            - USER_ID={{ ansible_user_uid }}
            - GROUP_ID={{ ansible_user_gid }}
            - TZ={{ ansible_date_time.tz }}
        volumes:
            - "{{ docker_base_dir }}/jdownloader/config:/config:rw"
            - "{{ storage_dir }}/Downloads:/output:rw"
        restart: unless-stopped
